body {
    margin: 0;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
}

header, footer {
    background-color: #d9e2ec; 
    color: #1a202c; 
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px dotted #4a90a4;
}

footer {
    margin-top: 20px;
    border-bottom: none;
    border-top: 3px dotted #4a90a4;
}

h1 {
    color: #4a90a4; 
    text-transform: uppercase; 
}

h2 {
    color: #4a90a4; 
    border-bottom: 2px dashed #4a90a4; 
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: lowercase;
}

main {
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
}

#rejstracjakomitetów, #zarejestrowanekomitety, #wynikiwyborow {
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    border: 5px double #d08c60; 
}

#formularz label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #556b2f; 
}

#nazwakomitetu,
#iloscsglosow {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a9a9a9; 
    background-color: #f8f8ff; 
    box-sizing: border-box; 
}

#czykoalicja {
    margin-right: 5px;
}

#dodawanie,
#liczenie {
    background-color: #4a90a4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

#dodawanie:hover,
#liczenie:hover {
    background-color: #357a8b;
}


#wynikiwyborow table {
    width: 100%;
}

#wynikiwyborow th,
#wynikiwyborow tr {
    text-align: left;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background-color: #EB9D9D; 
}
#wynikiwyborow .powyzejprogu{
    background-color: #BAE9B5;
}

#wynikiwyborow th {
    background-color: #d3d3d3; 
    font-weight: bold;
    color: #4a90a4; 
    border-bottom: 3px solid #4a90a4;
}

#wynikiwyborow td {
    border-top: none;
    border-bottom: none;
}

#wynikiwyborow tr:last-child td {
    border-bottom: 1px solid #c0c0c0; 
}


#zarejestrowanekomitety p {
    background-color: #e0ffff; 
    border: 1px dashed #87cefa; 
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
}
